<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div clsss="col-lg-10">
      <h2>新着</h2>
      <div class="row">
        <% @articles.last(8).each do |article| %>
        <div class="col-lg-3">
          <%= link_to (image_tag article.get_image, size: '150x150'), admin_article_path(article) %><br>
          <%= link_to article.title, admin_article_path(article), class:"text-dark" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>