<div class="container">
  <div class="h3 p-3"><%= "#{@user.name}のいいね一覧" %></div>
  <div class="row">
    <%= render 'public/shared/article_index', {articles: @favorite_articles, admin: @admin} %>
  </div>
</div>