<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div clsss="col-lg-10">
      <h2><%= "#{@category.name}一覧" %></h2>
      <div class="row">
        <% @articles.each do |article| %>
        <div class="col-lg-3">
          <%= link_to (image_tag article.get_image, size: '150x150'), article_path(article) %><br>
          <%= link_to article.title, article_path(article), class:"text-dark" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>