<div class="container">
  <div class="h4 p-3">
    <i class="fas fa-user"></i><%= @admin.name %>
  </div>
  <div class="h3 p-3">投稿一覧</div>
  <div class="row">
    <%= render 'admin/shared/article_index', {articles: @articles, admin: @admin} %>
  </div>
  <%= paginate @articles %>
</div>